.input_title p{
    color: #ffff;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0px;
}
.input_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input_comp-wrapper{
    padding: 15px;
}
.input_field{
    background: #ffff;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.input_field__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    font-family: 'Quicksand', sans-serif;
}
.input_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */
}
 .image-wrapper{
     /* border: 1px solid red; */
     width: 50%;
     height: 100%;
 }
 .image-wrapper img{
     width: 90%;
     margin: auto;
 }
.value_div{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.value_div p{
    color: grey;
    width: 100%;
}
.value_div input{
    width:100%;
    border: none;
    outline: none;
    font-size: 20px;
}
::placeholder{
    color: black;
    font-size: 20px;
    font-weight: bolder;
}
#title_para{
    font-weight: bolder;
    font-family: poppins,sans-serif;
}
.title__div p { 
   margin-bottom: 0px;
}
@media(min-width:320px) and (max-width:768px){
.maxx-div{
    margin-left: 10px;
}
.value_div{
    width: 23%;
}
.title__div p { 
    margin-bottom: 0px;
 }
}