.nft-footer{
    color: white;
    font-family: "Poppins";
}
.footer-wrapper_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.footer-wrapper_div div p{
    font-size: 20px;
    margin-bottom: 40px;
}
.footer__links{
    width: 13%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__links a{
    text-decoration: none;
    color: #ffff;
}

@media(min-width:320px) and (max-width:768px){
    .footer-wrapper_div{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-wrapper_div div p{
        margin-bottom: 0;
        font-size: 15px;
    }
    .footer__links{
        width: 79%;
        margin-top: 15px;
    }
}