.croge-homepage{
    background:  #4A53C5  url("../../assests/cross.png")  center no-repeat;
    padding: 15px;
}
.croge_text{
    font-family: "poppins";
  color: white;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   width: 60%;
   margin: auto;
   padding: 20px;
}
.croge_text p{
    font-size: 30px;
    font-weight: 300;
    margin-right: 5px;
    margin-bottom: 0;
}

.lil-floki{
    background-image: url("../../assests/image\ 4.png");
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-clip: content-box;
    width: 35%;
    /* border: 1px solid green; */
    color: white;
    font-size: 90px;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
}
.croge-card-holder{
    /* border: 1px solid red; */

    /* height: 50vh; */
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
}

.lil-floki-one{
    background-image: url("../../assests/Group\ 9.png");
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-clip: content-box;
    width: 30%;
    /* border: 1px solid green; */
    color: white;
    font-size: 100px;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-div{
    width: 75%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins";
    
}
.link-div a{
    text-decoration: none;
    color: #ffff;
     
}
.cat{
    transform: translateX(40px);
}
.lil-floki p, .lil-floki-one p{
    margin-bottom: 0px;
}

@media(min-width:360px) and (max-width:768px){
    .croge_text{
        width: 100%;
    }
    .croge_text p{
        font-size: 20px;
        margin: 10px;

    }
    .croge-card-holder{
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin-top: 20px;
        padding: 10px;
        width: 100%;
    }
    .lil-floki{
        width: 80%;
        height: 40vh;
    }
    .lil-floki-one{
        width: 80%;
        height: 40vh;
    }
    .lil-floki p , .lil-floki-one p{
        font-size: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }

    .crossing-div img{
        width: 60px;
    }
    .crossing-div{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .link-div{
        flex-direction: column;
        width: 95%;
    }
    .link-div div{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    .cat{
        transform: translateX(0);
    }
}

@media(min-width:769px) and (max-width:1024px){
    .croge-homepage{
        height:fit-content;
    }
    .croge-card-holder{
        flex-direction: column;
    }
    .lil-floki p , .lil-floki-one p{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }
    .crossing-div{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .lil-floki , .lil-floki-one{
        width: 95%;
        height: 50vh;
    }
    .link-div {
        flex-direction: column;
        width: 95%;
    }
    .link-div div a{
        font-size: 30px;
    }
    .link-div div{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .cat{
        transform: translateX(0);
    }
}