

.popUpModal{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  gap:20px;
  border:2px solid #FF9300;
  border-radius: 10px;
  height: 340px;
  text-align: center;
}
.popUpModal__heading{
color:white;
 font-weight:400; 
}
.popUpModal__heading:hover{
    color:#FF9300;

}
.popUpModal__img{
  width: 140px;
}

.popUpModal__link{
    color:#FF9300;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    border: 1px solid white;
    padding: 8px 18px;
    border-radius: 10px;
    transition: color .3s,border .6s,background-color .5s;
}
.popUpModal__link:hover{
    color: black;
    border: 1px solid #FF9300;
    background-color: #FF9300;

}
.popUpModal__closebtn{
    position: absolute;
    top: 37px;
    right: 36px;
    cursor: pointer;
}

.hp{
    width: 100%;
    color: #FF9300;

}
.hp_close{
    text-align: right;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    
}

@media (max-width:370px) {
    .popUpModal__heading{
        font-size: 14px;
        }
        .popUpModal__check{
            font-size: 14px !important;
        }
}

/* animation  */
.animateContainer {
    position: relative;
    width: 260px;
    height: 260px;
    padding: auto 60px;
    display: grid;
    grid-template-columns: repeat(3, 60px);
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .animateContainer .circleCell {
    width: 28px;
    height: 28px;
    background: white;
    border-radius: 50%;
  }
  .animateContainer .circleCell:nth-child(1) {
    animation: circleAnimation 1s cubic-bezier(0.38, 0.08, 0.25, 1.08) infinite -0.6s;
  }
  .animateContainer .circleCell:nth-child(2) {
    animation: circleAnimation 1s cubic-bezier(0.38, 0.08, 0.25, 1.08) infinite -0.3s;
  }
  .animateContainer .circleCell:nth-child(3) {
    animation: circleAnimation 1s cubic-bezier(0.38, 0.08, 0.25, 1.08) infinite;
  }
  
  @keyframes circleAnimation {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      background: white;
      transform: scale(1.2);
    }
    100% {
      opacity: 0;
      transform: scale(0.4);
    }
  }
  


.skeleton {
    background-color: #a5a5a5;
    width: 200px;
    height: 200px;
    animation: skeleton-animation 2s infinite linear;
  }
  
  @keyframes skeleton-animation {
    0% {
      opacity: 0.2;
    }
  
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 0.2;
    }
  }
  