.bridge-popup__wrapper-header{
    background: #061220;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.bridge-popup__wrapper{
    padding-top: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4DB9E2;
    position: relative;
    padding-bottom: 280px;
}
.popup_div{
    border: 3px solid black;
    width: 50%;
    margin: auto;
    border-radius: 12px;
    background: #4274CD;
    z-index: 99;
}

.polygon_one{
    position: absolute;
    top: 0;
    left: 0;
}
.polygon_two{
    position: absolute;
    bottom: 0px;
    right: 0;
}
.bgStar_one{
    position: absolute;
    right: 50px;
    top: 80px;
}
.bgStar_one img{
    /* width: 150px;
    height: 150px; */
}
.bgStar_two{
    position: absolute;
    left: 120px;
    bottom: 90px;
}
.corons{
    position: absolute;
    top: -30px;
    right: 20%;
    z-index: 1;
}

@media(min-width:320px) and (max-width:768px){

    .polygon_one img{
        width: 60px;
    }
    .polygon_two img{
        width: 60px;
    }
    .popup_div{
        width: 91%;
    }
    .bgStar_one img ,.bgStar_two img{
        width: 106px;
    }
    .bgStar_one{
        top: 42px;
        right: 50px;
    }
    .corons img{
        width: 250px;
    }
    .corons{
        top: 125px;
        right: 0px;
    }
    .bgStar_two{
        left: 8px;
        bottom: 60px;
    }
    .bridge-popup__wrapper{
        padding-bottom: 190px;
    }
    .title__div p{
        margin-bottom: 0px;
    }
}
 @media(min-width:769px) and (max-width:1024px){
     .popup_div{
         width: 85%;
     }
     .corons img{
         width: 350px;
     }
     .corons{
         right: 6%;
         top: 41px;
     }
     .bgStar_one img,.bgStar_two img{
         width: 150px;
     }
     .bgStar_one {
         left: 141px;
     }
     .bgStar_two{
         right: 75px;
         left: inherit;
     }
     .polygon_one img , .polygon_two img{
         width: 115px;
     }
 }