
.nav-div{
    width: 80%;
    margin: auto;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    text-align: center;
}
.nav-title img{
    width: 90%;
}
.nav-btn button{
    background: transparent;
    border: 2px solid #ffff;
    border-radius: 6px;
    font-family: "Poppins";
    color: #ffff;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
}
.nav-btn button img{
    margin-left: 10px;
}

.nav-btn-logout{
    align-items: center;
    font-size: 18px !important;

}
.nav-btn{
    display: flex;
    gap:10px;
}
@media(min-width:360px) and (max-width:768px){
 .nav-div{
     width: 100%;
     flex-direction: column;
 }
 .nav-btn{
     margin-top: 10px;
 }
 

}