.navbar-container{
    background: #4274CD;
    border-bottom: 3px solid black;
}
.navbar-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}
.navbar-wrapper__button button{
    background: transparent;
    border: 2px solid #ffff;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}
.navbar-wrapper__button button img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

@media(max-width:576px){
    .navbar-wrapper{
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
}